<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo83hjtVCr71QjWqiJexU-Tj-DF9bYx38</string>
	<key>GCM_SENDER_ID</key>
	<string>1016233445286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>developementTeam.iosProject</string>
	<key>PROJECT_ID</key>
	<string>iosdatabase-50a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdatabase-50a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016233445286:ios:90d823114364572dd6b167</string>
</dict>
</plist>